p
{
    color:#666666;
}
li
{
    color: #666666;
}
.container 
{
    color: #666666;
}
.card-title {
    font-size: 13px;
}
.block-square
{
    margin-top: 20px;
}
.card-body {
    height: 90px;
}
.alert-light
{
    margin-top: 20px;
}